<% content_for(:title, 'ダッシュボード') %>
<div class="wrapper">
  <!-- Navbar -->
  <%= render 'admin/shared/header' %>
  <!-- /.navbar -->
  <%= render 'admin/shared/sidebar' %>
  <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
  <div class="content-wrapper">
  <%= render 'shared/flash_message' %>
    <div class="container">
      <div class="row">
        ダッシュボードです
      </div>
    </div>
  </div>
  <!-- Main Footer -->
  <%= render 'admin/shared/footer' %>
</div>
<!-- ./wrapper -->
